.section-group {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  justify-content: center;
  margin-bottom: 94px;
}
.container-group {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.group-list {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
.group-link {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.button-group {
  display: inline;
  background-size: cover;
  max-width: 270px;
  background: #ffffff;
  border: 0;
  padding: 0;
}

.section-title {
  padding-bottom: 60px;
}
.group-img {
  border-color: white;
}
.name {
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.professional {
  color: var(--text-p-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.svg-list {
  width: 44px;
  height: 44px;
  display: block;
  margin-bottom: 30px;
}

.svg-list + .svg-list {
  margin-left: 10px;
}

.svg-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
  background-color: var(--accent-color);
}
}

.svg-link:hover .svg-group,
.svg-link:focus .svg-group {
  fill: #ffffff;
}
.networks {
  display: flex;
}
.svg-group {
  fill: #afb1b8;
}
